# ---
# Database
DB_HOST=mariadb
DB_USER=hbalasan
DB_PASSWORD=dbP@ssw0rd
DB_PORT=3306
# ---

# ---
# Wordpress
WP_PORT=9000
WP_DB_NAME=wordpress
WP_URL=hbalasan.42.fr
WP_TITLE=Inception
# Admin user
WP_ADMIN_USER=hbalasan
WP_ADMIN_PASSWORD=adminP@ssw0rd
WP_ADMIN_EMAIL=hbalasan@student.42nice.fr
# Contributor user
WP_CONTRIB_USER=dummy
WP_CONTRIB_PASSWORD=dummyP@ssw0rd
WP_CONTRIB_EMAIL=dummy@dummy.com
# ---

# ---
# Static website
SW_PORT=4242
# ---

# ---
# Adminer
ADM_PORT=8080
# ---